@model IOrderedQueryable<Category>
<div class="right_col" role="main">
    <div class="">


        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Kategori Yönetim</h2>
                        <a asp-controller="Category" asp-action="New" class="btn btn-success float-right">Yeni Kategori</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Kategori Adı</th>
                                                <th>Sırası</th>
                                                <th></th>
                                            </tr>
                                        </thead>


                                        <tbody>
                                            @foreach (Category s in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@s.ID">
                                                            @if (s.ParentID == null)
                                                            {
                                                                @s.Name
                                                            }
                                                            else
                                                            {
                                                                @s.ParentCategory.Name <span>&lt;</span> @s.Name
                                                            }
                                                        </a>
                                                    </td>



                                                    <td>@s.DisplayIndex</td>
                                                    <td>
                                                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@s.ID" class="btn btn-outline-danger" style="color:red">Sil</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>